

.header { padding: 20px; text-align: center; color: white; font-size: 18px; }

.sidenav { float: left; width: 200px; height: 100%; ; background: #ccc; }

footer { background-color: #777; padding: 10px; text-align: center; height: 100px; color: white;}

ul.c { list-style-type: none; margin: 0; padding: 0px; overflow: hidden; background-color: #00284d;  border: 1px solid #555;}
ul.d { list-style-type: none; margin: 0; padding: 25px 50px 75px 0px; overflow: hidden; background-color: #00284d; }

li { align: left; font-size:12px}

li c { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }

li c:hover { background-color: #d9d9d9; cursor: pointer; color: #00284d;font-weight: bold;}

a:visited { color: #f2f2f2;}

nav { float: left; width: 30%; height: 150px; background: #ccc; padding: 20px;}
